body{
       font-family: Arial, Sans-Serif;
       margin: 5px;
       padding: 10px;
       background-color: #E7FCFE
       color:#E7FCFE
     }
     header{
       background: #000000;
       color: #E7FEFB;
       padding: 20px 10px;
       text-align: center;
     }
     
     nav a{
       color:#EBF9F7;
       margin: 2px 15px;
       text-decoration: none;
       font-weight: bold;
     }
     nav a:hover{
       color: #B8FA8F;
     }
     section{
       padding: 40px;
       max-width: 900px;
       margin: auto;
     }
     h2{
       color: #222;
       margin-bottom: 20px;
       text-align: center;
     }
  img{
    display: block;
    margin: auto;
    height: 150px;
    width: 150px;
    border-radius:50%;
    border: 3px solid #555;
  }
  table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  table, th, td{
    border: 1px solid #ccc;
  }
  th, td{
    padding: 10px;
    text-align: center;
  }
  form{
    max-width: 500px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0,1);
  }
  form input, form textarea{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }
  form button {
    background: #333;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius:5px 
    font-size: 25px;
  }
  form button:hover{
    background: #ff9800;
  }
  iframe, video{
    display: block;
    margin: 20px auto;
    max-width: 100%;
  }
  .footer{
    background: #333;
    color: red;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
  }
p{
color: black;
}
.myskill{
padding: 10px;
margin-bottom:25px;

}
.muntasir{
background:#DABBFC;
}
.Fello{
text-align: center;
}sss
